In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\ADVAN\Downloads\train.tsv",
                 sep='\t',
                 header=0)
df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [3]:
df.count()

PhraseId      156060
SentenceId    156060
Phrase        156060
Sentiment     156060
dtype: int64

In [5]:
df['Sentiment'].value_counts()

Sentiment
2    79582
3    32927
1    27273
4     9206
0     7072
Name: count, dtype: int64

In [7]:
df['Sentiment'].value_counts() / df['Sentiment'].count()

Sentiment
2    0.509945
3    0.210989
1    0.174760
4    0.058990
0    0.045316
Name: count, dtype: float64

In [9]:
X = df['Phrase']
y = df['Sentiment'].values